/* 모달 스타일 */
.modal {
    display: block; /* 모달 기본으로 숨김 */
    position: fixed;
	maring-top:-130.5px;
	margin-left:-275px;
	top:50%;
    background-color: rgba(0,0,0,0.5); /* 배경색과 투명도 설정 */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* 모달 종료 버튼 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}