#tabMenu {
    background-color: black;
    color: #fff;
    width: 100%;
}

#tabMenu .ins {
    width: 1200px;
    margin: 0 auto;
}

#tabMenu > .ins > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#tabMenu > .ins > ul > li {
    flex: 1;
    width: 33.33%;
    text-align: center;
}

#tabMenu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

#titleWrap {
	width:100%;
	text-align:center;
    padding: 65px 0 50px;
    position:relative;
}
.location-wrap{
	color: #000000;
	font-size:38px;
	font-weight:500;
}
.main {
	width:100%;
}
#main > .location {
	padding-bottom:110px;
}
.location-wrap{
	width:100%;
	text-align:center;
	padding: 65px 0 50px;
	position:relative;
}

/*지도 */
#locationWrap{
	max-width:1200px;
	margin:0 auto;
	width:100%;
	overflow: hideen;
	box-sizing : content-box;
}
.address > img {
	width:17px;
	height:20px;
	vertical-align:middle;
	margin-right:7px;
}
.address > p {
	display:inline-block;
	margin-left:12px;
}
.locList{
	margin-top:14px;
	border-top : 3px solid #5e5e5e;
	padding-top:30px;
}
.locList > .first{
	margin-bottom:40px;
	display:table;
	width:100%;
	position:relative;
}
.first > img {
	width:125px;
	height:125px;
	display: inline-block;
}
.first > div{
	display:inline-block;
	padding-left:50px;
}