*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    color:white;
    text-decoration: none;
}
li {
    list-style-type: none;
}
#mainWrap {
    top: 0;
}
#header {
    width: 100%;
    min-width:320px;
    top:0;
    position: absolute;
    z-index: 100;
    box-sizing: border-box;
}
.header_ins {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.menu {
    position: absolute;
    margin:0;
    right:0;
    top: 0px;
}
.menu ul {
    padding: 0;
    margin: 0;
}

.menu a {
    padding-right: 10px;
    color:#fff;
}

/* 로고이미지 */
.logo-img{
    position: absolute;
    left:0;
    top:30px;
    z-index:51;
}
.logo-img:hover{
    cursor: pointer;
}

/* 서브메뉴 */
#gnbMenu {
    position:relative;
}
#gnbMenu > ul{
    max-width:950px;
    margin:0 auto;
    text-align: center;
}
#gnbMenu > ul > li{
    float:left;
    position: relative;
    margin:0;
    padding: 0 66px;
    vertical-align: top;
}
#gnbMenu > ul > li > a{
    display:block;
    color:#fff; 
    font-size:16px;
    line-height:50px;
    height:49px;
    margin-top:29px;
}
.subMenu{
    width:100%;
    display:none;
    vertical-align: top;
    text-align: center;
    position: absolute;
    left:0;
}
.subMenu li{
    width:100%;
    text-align: center;
    white-space:nowrap;
}
.subMenu li a{
    color:#eeeeee;
    font-size:13.5px;
    line-height:25px;
    height:30px;
    display:block;
}
.subMenu li a:hover{
    background-color:#323232;
}

/* 시간이미지, 언어 */
.rightMenu{
    position: absolute;
    right:0;
    top:36px;
    display:flex;
    align-items:center;
}
.timeImages{
    padding-left:21px;
    font-size:11px;
}
.rightMenu ul {
    padding: 5px;
    margin-left: 10px;
    font-size: 16px;
}
.select_len_show{
    padding:4px;
    border: 1px solid #fff;
    border-radius: 20%;
}
.select_len{
    padding:4px;
    margin:5px 0;
    border:1px solid #fff;
    border-radius: 20%;
    display:inline;
    transition: transform 0.3s;
}
.select_len {
    display: none;
}

/* 헤더 이미지 */
#headerImg{
    width:100%;
    height:335px;
    background: url('../images/jpg/visualbg_news.jpg') top center/cover no-repeat;
    position: relative;
    top: 0;
}
.headerTitle{
    position: absolute;
    bottom:36%;
    width:100%;
    text-align: center;
    display:table;
}
.headerTitle span{
    font-size:26px;
    color:#fff;
    width:auto;
    padding: 0 40px;
    font-weight:600;
    font-style:normal;
    white-space: nowrap;
}






/* 로그인 영역 */
.login {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.login-wrap {
    margin-top: 70px;
}

#titleWrap {
    width: 100%;
    text-align: center;
    position: relative;
}
.title-name{
    font-size:38px;
    font-weight:bold;
}

.login-form-wrap {
    margin-top: 60px;
    padding: 80px;
    background-color: #fff;
}

.login-form {
    width: 100%;
    overflow: hidden;
    white-space:nowrap;
}
/*로그인, 비회원 css*/
.form-control, .form-non-control{
    width:100%;
    border:1px solid #ccc;
    
    padding:15px;
    letter-spacing:-1px;
    font-size:15px;
}
.form-column > input[id="f_name"]{
    margin-bottom:40px;
}
#member{
    width:50%;
    border-right:1px solid black;
}

#member, #non-member{
    display:inline-block;
    overflow:hidden;
    padding-right:10%;
    vertical-align: top;
    box-sizing: border-box;
    text-align:center;
}
#non-member{
    float:right;
    padding:0;
    right:0;
}

.form-field, .field-guest {
    width: 100%;
}

.member-title, .non-member-title {
    margin-bottom: 20px;
}
.non-member-title{
    right:0;
}

.member-title > h2, .non-member-title > h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.member-title > p, .non-member-title > p {
    font-size: 15px;
}

.form-column {
    display: flex;
    flex-direction: column;
}
.form-column input[type="password"] {
    flex: 1;
    margin-bottom: 10px;
    margin-top:15px;
}

/*비회원*/
#checkGuest{
    margin-top:13px;
    background-color:gray;
}
.form-check {
    display: flex;
    align-items: center;
}
.form-check-input {
    display: none;
}
.form-check-label {
    position: relative;
    margin-top:5px;
    padding-left: 25px;
    cursor: pointer;
}

.form-check-label::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/png/check-mark.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.form-check-input:checked + .form-check-label .custom-checkbox::before {
    background: url(../images/png/checkmark.png) no-repeat;
}

.form-check-label{
    font-size: 16px;
    margin-left: 5px;
}
.loginBtn, .checkGuest{
    width:100%;
    height:60px;
    padding:16px 0;
    color:#fff;
    cursor: pointer;
}
#loginBtn{
	background-color:black;
}
.loginBtn:hover{
    background-color: #fff !important;
    color:black !important;
    border:1px solid #ccc;
}
.or{
    display: flex;
    align-items: center;
    margin:20px 0 20px 0;
}

.or::before, .or::after {
    content: "";
    flex: 1;
    border-top: 1px solid #000;
    margin: 0 10px;
}

.or::before {
    margin-left: 0;
}

.or::after {
    margin-right: 0;
}

/*회원가입 버튼*/
.mypage-box{
    display:table;
    width:100%;
    margin-top:80px;
    border:1px solid #eaeaea;
    overflow: hidden;
}
.loginMenu{
    display:table-cell;
    width:50%;
    padding:30px 45px;
    text-align: left;
    border-left: 1px solid #eaeaea;
}

.loginMenu p{
    font-size:15px;
    color:#666;
    margin-bottom:10px;
}
.loginMenu a{
    font-size:13px;
    color:#666;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    padding:5px 30px;
}
