.w1200{
	width:1200px;
	margin:0 auto;
}
.board-wrap{
	margin-bottom:70px;
}
#titleWrap{
	padding: 65px 0 20px;
}
.board-title{
	font-size:38px;
	font-weight:bold;
	margin-bottom:10px;
}
.bookArea-wrap * {
	box-sizing: border-box;
}
.bookArea-wrap > #bookArea{
	width:1200px;
	margin:0 auto;
	z-index:96;
	postion:relative;
	background :#fff;
}
/* checkinout */
.checkInOut_wrap {
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
	background:#fff;
}

.checkInOut_wrap * {
    box-sizing: border-box;
}
.checkInOut {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    z-index: 96;
    position: relative;
}

#searchAccomodation {
    max-width: 1200px; 
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
}

#searchAccomodation .date,
#searchAccomodation .Rooms,
#searchAccomodation .people,
#searchAccomodation .child,
#searchButton {
    width: 18%; 
    display: inline-block;
    text-align: center;
    padding: 20px 1% 10px 1%;
    cursor: pointer;
    position: relative;
    margin-right: 1%; 
}

#searchAccomodation .date + #searchAccomodation .Rooms,
#searchAccomodation .Rooms + #searchAccomodation .people,
#searchAccomodation .people + #searchAccomodation .child,
#searchAccomodation .child + #searchButton {
    margin-left: 1%; /* 변경: 각 요소 사이의 좌측 여백 추가 */
}

#searchAccomodation .date,
#searchAccomodation .Rooms,
#searchAccomodation .people,
#searchAccomodation .child {
    padding: 20px 0 10px 0;
    cursor: pointer;
}

#searchAccomodation .date:hover,
#searchAccomodation .Rooms:hover,
#searchAccomodation .people:hover,
#searchAccomodation .child:hover {
    cursor: pointer;
}

select {
    appearance: none;
    background-color: #fff;
    color: #333;
    border: none;
}

#roomType,
#numPeople,
#numChild {
    padding: 15px;
    border: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    padding: 0;
}

#searchAccomodation select {
    border: none;
    background: transparent;
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

#searchButton,
.checkIn,
.checkOut {
    display: inline-block;
    border: none;
    text-align: center;
    width: 18%;
}
.checkIn, .checkOut{
	width:100px;
}
.checkIn > input, .checkOut > input{
	text-align:center;
	width:100px;
}
#searchButton{
	background:black;
	color:#fff;
}

/* 객실상품*/
.title{
	overflow:hidden;
	border-bottom:3px solid #26252b;
}
.title h4{
	font-size:20px;
	text-align:left;
	color:#323232;
	font-weight:500;
	margin-bottom:12px;
}
.rsvn-wrap{
	padding-top:10px;
}
.rsvn-wrap table{
	border-collapse:collapse;
	width:100%;
}

.rsvn-wrap th, .rsvn-wrap td{
	padding:5px;
	border:1px solid #dddddd;
}
.rsvn-wrap td{
	text-align:center;	
}
.mypage-form {
	padding:40px;
}

.bookArea-wrap{
	width:100%;
	background:#fff;
	border-bottom:1px solid #efefef;
}
